body{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.chart{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bar{
    background-color: blue;
    color: blue;
}